.gb-home-map {
  padding-top: 80px;
  position: relative; }
  .gb-home-map iframe {
    width: 100%;
    height: 700px;
    overflow: hidden;
    -webkit-filter: grayscale(100%);
    -moz-filter: grayscale(100%);
    -ms-filter: grayscale(100%);
    -o-filter: grayscale(100%);
    filter: grayscale(100%); }
  .gb-home-map .gb-home-map-text {
    padding-bottom: 40px; }
  .gb-home-map ul li {
    font-size: 14px;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: 2.1;
    letter-spacing: normal;
    text-align: left;
    color: #666666; }
    .gb-home-map ul li span {
      font-weight: 700; }
